<div class="widget" ng-controller="dashboardCtl as dbCtl">
    <div class="row">
        <div ng-repeat="group in dbCtl.groups">
            <div class="col-md-6">

                <div ba-panel ba-panel-title={{group.name}} ba-panel-class="with-scroll medium-panel">

                    <div ng-repeat="item in group.items">
                        <div ng-include="item.html"></div>
                    </div>

                    <ul class="btn-list clearfix" style="display:block;position:relative;bottom:0px;">
                        <li ng-show="!group.editable" style="float:right;"><button type="button" class="btn btn-default btn-with-icon" ng-click="group.editable = true"><i class="ion-archive"></i>编辑</button></li>
                        <li ng-show="group.editable" style="float:right;"><button type="button" class="btn btn-default btn-with-icon" ng-click="dbCtl.save(group);"><i class="ion-archive"></i>保存</button></li>
                        <li><button type="button" class="btn btn-default btn-with-icon"><i class="ion-folder"></i>资料管理...</button></li>

                    </ul>
                </div>
            </div>

        </div>
    </div>