<form ng-controller="projectInfoCtl as infoCtl">
    <div class="form-group">
        <label for="project-name">项目名称</label>
        <input type="text" class="form-control" id="project-name" placeholder="项目名称" ng-model="infoCtl.projectInfo.name">
    </div>
    <div class="form-group">
        <label for="project-land-number">地块编号</label>
        <input type="text" class="form-control" id="project-land-number" placeholder="多地块以，分隔" ng-model="infoCtl.projectInfo.number">
    </div>
    <div class="form-group">
        <label for="project-name">项目地址</label>
        <div class="ng-cloak" ng-controller="SelectCityCtrl as selectpickerVm">
            <div class="form-group">
                <ui-select ng-model="infoCtl.projectInfo.location" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true" search-enabled="true">
                    <ui-select-match placeholder="省市区">
                        <span> {{$select.selected.city}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="standardItem in selectpickerVm.cityOfProvince | filter: $select.search" group-by="'province'">
                        <span ng-bind-html="standardItem.city"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="project-name">项目状态</label>
        <div class="ng-cloak" ng-controller="ProjectStatusCtl as statusVmCtl">
            <div class="form-group">
                <ui-select ng-model="infoCtl.projectInfo.status" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true" search-enabled="true">
                    <ui-select-match placeholder="目前项目进展">
                        <span> {{$select.selected.task}} : {{$select.selected.stage}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="standardItem in statusVmCtl.projectStatusList | filter: $select.search" group-by="'stage'">
                        <span ng-bind-html="standardItem.task"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <ul class="btn-list clearfix">
        <li><button type="button" class="btn btn-default btn-with-icon"><i class="ion-archive"></i>保存</button></li>
    </ul>





</form>